CompileFlags:
  Add: [
    "-IC:/Users/youch/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/sys-include",
    "-IC:/Users/youch/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0",
    "-IC:/Users/youch/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/tr1",
    "-IC:/Users/youch/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/bits",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/cores/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/ArduinoOTA/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/AsyncUDP/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/BLE/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/BluetoothSerial/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/DNSServer/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/EEPROM/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/ESP32/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/ESPmDNS/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Ethernet/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/FFat/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/FS/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/HTTPClient/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/HTTPUpdate/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/HTTPUpdateServer/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/I2S/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Insights/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/LittleFS/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/NetBIOS/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Preferences/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/RainMaker/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/SD_MMC/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/SD/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/SimpleBLE/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/SPI/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/SPIFFS/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Ticker/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Update/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/USB/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/WebServer/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/WiFi/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/WiFiClientSecure/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/WiFiProv/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/libraries/Wire/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/dio_qspi/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/app_trace/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/app_update/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/asio/asio/asio/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/asio/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bootloader_support/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/api/include/api",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/btc/profile/esp/blufi/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/btc/profile/esp/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/osi/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api/core/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api/models/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/btc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_common/tinycrypt/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core/storage",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/client/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/server/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/host/bluedroid/api/include/api",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/include/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/cbor/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/cmock/CMock/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/coap/libcoap/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/coap/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/console",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/driver/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/driver/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/efuse/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/efuse/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_adc_cal/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_diagnostics/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_eth/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_event/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/xtensa",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hid/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_http_client/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_http_server/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_https_ota/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_https_server/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include/soc",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include/soc/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/port/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/port/esp32/private_include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_insights/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_ipc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_lcd/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_lcd/interface",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_littlefs/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_local_ctrl/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_netif/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_phy/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_phy/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_pm/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rainmaker/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_ringbuf/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/include/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_schedule/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_serial_slave_link/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/port/public_compat",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/port/soc",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_timer/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_websocket_client/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_wifi/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/detect",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/image",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/layer",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/math",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/model_zoo",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/nn",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/tool",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/typedef",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-tls",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-tls/esp-tls-crypto",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32-camera/conversions/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32-camera/driver/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espcoredump/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espcoredump/include/port/xtensa",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp_secure_cert_mgr/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/conv/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/dct/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/dotprod/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/fft/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/fir/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/iir/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/kalman/ekf_imu13states/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/kalman/ekf/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/add/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/addc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/mul/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/mulc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/sqrt/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/math/sub/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/add/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/addc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/mul/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/mul/test/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/mulc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/matrix/sub/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/support/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/support/mem/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/blackman_harris/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/blackman_nuttall/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/blackman/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/flat_top/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/hann/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espressif__esp-dsp/modules/windows/nuttall/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/expat/expat/expat/lib",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/expat/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/diskio",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/vfs",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fb_gfx/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freemodbus/freemodbus/common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include/esp_additions",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include/esp_additions/freertos",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/port/xtensa/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/gpio_button/button/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/platform_port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/heap/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/idf_test/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/idf_test/include/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ieee802154/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/jsmn/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_generator/upstream",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_parser/upstream",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_parser/upstream/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json/cJSON",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/libsodium/libsodium/src/libsodium/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/libsodium/port_include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/log/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/include/apps",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/include/apps/sntp",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/lwip/src/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/port/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/port/esp32/include/arch",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/esp_crt_bundle/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/mbedtls/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mdns/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mqtt/esp-mqtt/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/newlib/platform_include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nghttp/nghttp2/lib/includes",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nghttp/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nvs_flash/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/openssl/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/perfmon/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protobuf-c/protobuf-c",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/common",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/security",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/transports",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/pthread/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/qrcode/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/rmaker_common/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/rtc_store/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/sdmmc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/esp32",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/spi_flash/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/spiffs/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/tcp_transport/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/tcpip_adapter/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ulp/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/unity/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/unity/unity/src",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/vfs/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wear_levelling/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wifi_provisioning/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/esp_supplicant/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/port/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ws2812_led",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/xtensa/esp32/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/xtensa/include",
    "-IC:/Users/youch/.platformio/packages/framework-arduinoespressif32/variants/m5stack_fire",
    "-Ih:/Documents/Aimatix/.pio/libdeps/m5stack-fire/M5Stack/src",
    "-Ih:/Documents/Aimatix/.pio/libdeps/m5stack-fire/NTPClient",
    "-Ih:/Documents/Aimatix/include",
    "-Ih:/Documents/Aimatix/lib/libaimatix/src",
    "-Ih:/Documents/Aimatix/src",
    "-D_GNU_SOURCE",
    "-D_POSIX_READER_WRITER_LOCKS",
    "-DARDUINO_ARCH_ESP32",
    "-DARDUINO_BOARD=\"M5Stack FIRE\"",
    "-DARDUINO_M5STACK_FIRE",
    "-DARDUINO_PARTITION_default",
    "-DARDUINO_VARIANT=\"m5stack_fire\"",
    "-DARDUINO=10812",
    "-DBOARD_HAS_PSRAM",
    "-DCORE_DEBUG_LEVEL=0",
    "-DESP_PLATFORM",
    "-DESP32",
    "-DF_CPU=240000000L",
    "-DHAVE_CONFIG_H",
    "-DIDF_VER=\"v4.4.7-dirty\"",
    "-DILI9341_ENABLE_DOUBLE_BUFFER",
    "-DM5",
    "-DM5STACK_FIRE",
    "-DMBEDTLS_CONFIG_FILE=\"mbedtls/esp_config.h\"",
    "-DPLATFORMIO=60118",
    "-DUNITY_INCLUDE_CONFIG_H",
    "-DUSE_FOO",
    "-DVALUE=1",
    "-DWITH_POSIX",
    "-std=c++11"
  ]
