.cache/clangd/index/*
.pio
*.exe
*.gcda
*.gcno
*.gcov
*.gcov.json.gz
*.log
coverage_report.functions.html
coverage_report.html
coverage_reports/*
coverage_report.css
build/CMakeFiles/cmake.check_cache
build/.cmake/api/v1/reply/*
.vscode/
.cursor/
.cache/
build/
